<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anupam Das - Portfolio</title>
    <link rel="stylesheet" href="/Static/Style/style.css">
</head>
<body>
    <div class="frontbg">
        <div class="front" id="front">
            <h1 id="text1">HEY, I am Anupam Das</h1><br>
            <h1 id="text2">I'm a Developer</h1>
        </div>
    </div>
    <div class="detail">
        <div class="intro">
            <p>I am Anupam Das from Silchar, Assam. I completed my 10th from Tagore Public School, Assam and 12th from Ramanuj Gupta Junior College, Ambicapatty, Silchar, Assam. I am currently pursuing B.Tech. in Computer Science and Engineering from National Institute of Technology, Silchar. I am a Java Developer and a Frontend Web Developer, and currently working to improve my skills. My hobbies are reading, singing and coding</p>
        </div>
        <div class="me"></div>
    </div>
    <div class="projects">
        <div class="project-details"></div>
        <div class="icon"></div>
    </div>
    <script src="/Static/Script/script.js"></script>
</body>
</html>