<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="/Static/Style/skills.css">
</head>
<body>
    <nav>
        <a href="index.html"><img src="/Static/Images/back.jpg"></a>
    </nav>
    <div class="skills">
        <div class="first skill">
            <div class="detail">
                <h2>Java</h2>
                <p></p>
            </div>
            <div class="icon"><img src="/Static/Images/java.jpg"></div>
        </div>
        <div class="second skill">
            <div class="detail">
                <h2>Web Development</h2>
                <p></p>
            </div>
            <div class="icon"><img src="/Static/Images/web.jpg"></div>
        </div>
    </div>
    <footer>
        <a href="https://www.facebook.com/profile.php?id=100014350572946" target="_blank"><img src="/Static/Images/facebook.png"></a>
        <a href="https://www.instagram.com/anupam_151101/" target="_blank"><img src="/Static/Images/instagram.png"></a>
        <a href="https://www.linkedin.com/in/anupam-das-b49379182/" target="_blank"><img src="/Static/Images/linkedin.png"></a>
        <a href="https://github.com/anupamdas1511" target="_blank"><img src="/Static/Images/github.png"></a>
    </footer>
    <script src="/Static/Script/skills.js"></script>
</body>
</html>